---
import Layout from '../layouts/Layout.astro';
import Education from '../components/Education.astro'
import Projects from '../components/Projects.astro'
import Services from '../components/Services.astro'
import Contact from '../components/Contact.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Aboutme from '../components/Aboutme.astro'
import UserIcon from '../icons/User.astro'
import EducationIcon from '../icons/StudyBook.astro'
import PortfolioIcon from '../icons/Briefcase.astro'
import ServicesIcon from '../icons/Code.astro'
import ContactIcon from '../icons/Message.astro'
---

<Layout title="Portfolio de Agustin Martinez - Desarrollador Web Frontend con Astro" description="Programador y Desarrollador Web, contrata al desarrollador freelance para obtener la solución a la altura de tus expectativas">
	<main class="px-4">
		<SectionContainer class="h-screen py-32 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">Hola, soy Agustin Martinez 
				<a href="https://linkedin.com/in/agustinfmartinez" class="flex justify-center items-center" target="_blank" rel="noopener"></a></h1>
			<h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">Desarrollador web Frontend con React, programador JavaScript, Diseñador Gráfico y estudiante de Ingenieria Informática. 
			</h2>

		</SectionContainer>

		<SectionContainer id="sobre-mi" class="pb-12">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<UserIcon class="size-8"/>
				Sobre mi
			</h2>
			<Aboutme />
		</SectionContainer>


		<SectionContainer id="educacion" class="flex flex-col items-center">
			<h3 class="text-2xl font-semibold mb-6 flex gap-x-3">
				<EducationIcon class="size-8"/>
				Educación
			</h3>
			<Education />
		</SectionContainer>

		<SectionContainer id="portfolio">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<PortfolioIcon class="size-8"/>
				Portfolio
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="servicios">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ServicesIcon class="size-8"/>
				Servicios
			</h2>
			<Services />
		</SectionContainer>

		<SectionContainer id="contacto">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
				<ContactIcon class="size-8"/>
				Contacto
			</h2>
			<Contact />
		</SectionContainer>
		
	</main>
</Layout>


