---
import ProfileCard from './ProfileCard.astro'
import ProfileDescription from './ProfileDescription.astro'
---


<div class="flex justify-between items-start ">
    <ProfileCard />
    <ProfileDescription />
</div>