---
import EducationItem from "./EducationItem.astro"

const EDUCATION = [
    {
        date: 'Febrero 2024',
        title: 'Desarrollo Frontend React',
        description: 'Carrera de Desarrollador Frontend con el Framework ReactJs',
        link: '#',
    },
    {
        date: 'Febrero 2024',
        title: 'Programador ReactJs',
        description: 'Curso de Programación ReactJs, consumo de APIs, implementación de Firebase.',
        link: '#',
    },
    {
        date: 'Diciembre 2023',
        title: 'Programador JavaScript',
        description: 'Curso de Programación JavaScript orientado en el Desarrollo Web. Manejo de eventos, storage, librerias, asincronía y promesas, AJAX.',
        link: '#',
    },
    {
        date: 'Octubre 2023',
        title: 'Desarrollador Web',
        description: 'Curso de Desarrollo Web con HTML, CSS. Uso de librería Bootstrap, control de versiones con GIT, técnicas de SEO.',
        link: '#',
    },
    {
        date: 'Octubre 2023',
        title: 'Diseño UX/UI con Figma',
        description: 'Curso de Diseño UX/UI usando la herramienta Figma.',
        link: '#',
    },
    {
        date: 'Diciembre 2021',
        title: 'Frontend Web Developer',
        description: 'Curso introductorio Desarrollo Frontend con HTML, CSS y JavaScript.',
        link: '#',
    },
    {
        date: 'Marzo 2021',
        title: 'Cisco: IT Essentials',
        description: 'Curso dictado por Cisco, orientado al Soporte Informático. Instalación de componentes de PC, Mantenimiento preventivo, Resolución de problemas, Instalación de Sistemas Operativos. Redes, virtualización y computación en nube',
        link: '#',
    }

]
---
<ol class="relative border-s border-gray-200 ml-4">   
    
    {EDUCATION.map((education) => (
    <li class="mb-10 ms-4">
        <EducationItem {... education} />
    </li>
    )) }              
    
</ol>

