---
import MapIcon from '../icons/Map.astro'
import SocialBadge from '../components/SocialBadge.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import GithubIcon from '../icons/Github.astro'

const {class: className} = Astro.props

---

<div class={`${className} border border-white/10  rounded-lg shadow bg-black/20`} >
    <div class="flex flex-col items-center py-10">
        <img class="w-30 h-36 mb-3 rounded-full shadow-lg" src="public/profile_picture.jpg" alt="portfolio photo"/>
        <h4 class="mb-1 text-xl font-medium text-white">Agustin Martinez</h4>
        <h5 class="text-sm opacity-80">Desarrollador Web</h5>
        <div class="flex items-center mt-4 md:mt-6">
            <MapIcon class="size-4 md:size-6" />
            <p class="py-2 ms-2 text-sm font-medium">Buenos Aires, Argentina</p> 
        </div>
        <nav class="flex gap-4 mt-2">
				
            <SocialBadge href="https://linkedin.com/in/agustinfmartinez">
                <LinkedInIcon class="size-4 md:size-6" fill="#fff" />
            </SocialBadge>
        
            <SocialBadge href="https://github.com/DrMaul">
                <GithubIcon class="size-4 md:size-6" fill="#fff"/>
            </SocialBadge>

        </nav>
        <div class="flex mt-4 md:mt-6">
            <a href="https://drive.google.com/file/d/1ocsRfZHt97Y9qL5mRqdBGNPjc3wlIagU/view?usp=sharing" target="_blank" class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 ">Ver CV</a>
        </div>
    </div>
</div>
