---
import ServiceItem from './ServiceItem.astro'
import WebDesignIcon from '../icons/WebDesign.astro'
import GraphicDesignIcon from '../icons/GraphicDesign.astro'
import WebDevIcon from '../icons/WebDev.astro'

const SERVICES = [
    {
        name: "Diseño Web",
        description: "Diseño tu sitio web personalizado y adaptado para los dispositivos más utilizados en la actualidad.",
        icon:WebDesignIcon,
        asunto:"Solicitud servicio - Diseño Web",
        mensaje:"Buenas tardes, me pongo en contacto para solicitar sus servicios de Diseño Web... {Favor de adjuntar su información de contacto de ser necesario}"
    },
    {
        name: "Diseño Gráfico",
        description: "Diseño gráfico personalizado a demanda para branding, logotipos y redes sociales.",
        icon:GraphicDesignIcon,
        asunto:"Solicitud servicio - Diseño Gráfico",
        mensaje:"Buenas tardes, me pongo en contacto para solicitar sus servicios de Diseño Gráfico... {Favor de adjuntar su información de contacto de ser necesario}"
    
    },
    {
        name: "Desarrollo Web",
        description: "Desarrollo avanzado de aplicaciones web incluyendo tareas de diseño web y programación.",
        icon:WebDevIcon,
        asunto:"Solicitud servicio - Desarrollo Web",
        mensaje:"Buenas tardes, me pongo en contacto para solicitar sus servicios de Desarrollo Web... {Favor de adjuntar su información de contacto de ser necesario}"
    
    }
]
---
<div class="grid md:grid-cols-3 gap-4 my-4 ">
    {SERVICES.map((service) => (
        
        <ServiceItem {... service} />
        
        )) }   

</div>
